<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="AboutNav">WeatherStyle</h4>
                    <h5 id="name-display"></h5>
                    <p class="NavBar">
                        <br>
                        <br>Hate being surprised by the weather? Now you don't have to be. WeatherStyle, keeping you fashionable in rain, sleet, or shine.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li><a href="/register" class="text-white">Register</a></li>
                    </ul>
                    <!-- Login -->
                    <form>
                        <div class="row">
                            <div class="col" id="nav-input">
                                <input type="text" class="form-control email validate" id="loginEmail" placeholder="Email">
                            </div>
                            <div class="col">
                                <input type="password" class="form-control password validate" id="loginPassword" placeholder="Password">
                            </div>
                            <br />
                        </div>
                    </form>
                    <a class="nav-link login" id="loginBtn" href="#">Login</a>
                    <a class="nav-link login" id="logoutBtn" href="#">Logout</a>
                    <!-- Login Ends -->
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="assets/img/cloud.png" alt="">
                <p> WeatherStyle</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<div class="album py-5 BackGround">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 id="userName"></h3>
                    <label for="occasionSelect">Select your Style: </label>
                    <select id="occasionSelect">
                        <option value="casual">Casual</option>
                        <option value="formal">Formal</option>
                    </select>
                    <input type="submit" id="occasion">
                <div class="results" style="height:450px; border:1px solid darkgray; padding-left: 25px;">
                    <h1 class="temp-location">{{location.name}}</h1>
                    <p class="temp-main" id="temp">{{weather.temperature}}°</p>
                    <img src={{weather.imageUrl}} class="temp-img">
                    <p class="temp-feel">Feels like <strong>{{weather.feelslike}}°</strong></p>
                    <h2>{{weather.skytype}}</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide carousel-results" data-ride="carousel">
                      <div class="carousel-inner">
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
            </div>
            <hr>
            <br />
            <br />
            <div id="ebayProducts">
                    
            </div>
        </div>
    </div>
</div>